.flex-container {
    display: flex;
    flex-direction: column;
}

.col {
    flex: 1;
}

.flex-container * {
    margin-top: 5%;
}

@media (max-width: 1000px) {
    .flex-container {
      display: block;
    }
  }